.modal {
    display: none; 
    position: fixed;
    z-index: 1; /* Sit on top */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .add-btn-div {
    text-align: center;
  }

  .add-book {
    background-color: #1d6fb3;
    color: white;
    padding: 11px 17px;
    border: none;
    cursor: pointer;
    width: 93%;
    margin-bottom: 10px;
    margin-top: 2px;
    opacity: 0.8;
    font-size: 16px;
  }

  .add-book:disabled {
    background-color: #a8acaf;
  }

  .append-book {
    display: flex;
    flex-wrap: wrap;
    /* width: 800px; */
    justify-content: center;
    align-items: center;
  }

  .book-card {
    border: 2px solid black;
    display: grid;
    overflow: hidden;

    box-shadow: 0 3px 9px #bbb, inset 0 0 0 1px white;
    width: 270px;
    height: 220px;
    background-color: #2f7db1;
    font-size: large;
    padding: 18px; margin: 12px;
    border-radius: 4px; border: 2px rgba(216, 112, 147, 0.637) solid; 
    text-align: center;
  }

  .title, .author, .pages, .book-link {
    text-align: center;
  }

  .book-author {
    padding-top: 5px;
  }

  .book-title {
    align-self: center;
    padding-bottom: 5px;
  }
  .form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
    width: 85%;
    padding: 15px;
    margin: 4px 0 20px 0;
    border: none;
    background: #f1f1f1;
    
  }

  .form-container input[type=text]:focus, .form-container input[type=number]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container input[type=radio] {
      padding-bottom: 19px;
      margin: 5px 0 7px 0;

  }

  .book-title {
    border-bottom: 2px solid #72bfd2;
  }

  .delete-book {
    color: white;
    font-size: large; 
    position: absolute;
    float: left;
    border: none; 
    cursor: pointer; 
    background: none;
    width: 20px;
    order: -1;
    padding: 0;
    margin: -10px;
  }

  .wrapper {
    /* display: flex; */
height: 500px;
  }

  .read-button {
    background:linear-gradient(to bottom, #1b61db 5%, #1a3c66 100%);
	background-color:#1b61db;
    border-radius:7px;
    border:1px solid #1875ab;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    font-style:italic;
    /* padding:.5px 31px; */
    text-decoration:none;
    text-shadow:0px 1px 24px #2f6627;
    height: 40px;
  }
  .read-button:hover {
    background:linear-gradient(to bottom, #1a3c66 5%, #0a3f9b 100%);
	background-color:#0e52a5;
}
  }
  .read-button:active {
    position:relative;
    top:1px;
  }
  
  